/* Login SignUp Css  Start Below*/

body{
    background-color: #f7f1ff;
 }

 .loginSignup{
display: flex;
flex-direction: row-reverse;
font-size: 20px;
background-color: rgb(229, 229, 232);
}

.loginSignup > h1{
  border: 2px solid red;
}

.loginSignup > div:nth-child(3){
  border: 2px solid red;
   margin: auto;
  
  
}

.loginSignup > div{
    margin: 10px;
}

.loginSignup > div > a:hover
{
    background-color: rgb(127, 234, 123); 
    
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    /* border: 2px solid black; */
    -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.2);
}

.loginSignup > div > a{
    text-decoration: none;
    color: black;
    margin: 5px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .navbar {
    overflow: hidden;
    background-color: green;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    /* border-radius: 5px; */
   
  }

  .navbar > div{
    margin-left: 0px;
    /* border: 2px solid blue; */
    width: 18%;
  }

  .navbar > div:nth-child(1){
    /* border: 2px solid white; */
    /* width: 18%; */
  }

  .navbar > div:nth-child(3){
    /* border: 2px solid rgb(167, 26, 26); */
    width: 13%;
  }

  .navbar > div > div{
    /* border: 2px solid white; */
    /* width: 18%; */
    margin-left: 35px;
    /* font-size: 50px; */
  }



  .dropbtn{
    /* border-color: 2px solid red; */
    /* font-size: 30px; */
  }

  

  
  
  
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    /* padding: 14px 16px; */
    text-decoration: none;
  }
  
  .logo{
      /* border: 2px solid red; */
      width: 15%;
      /* padding: 0px; */
  }
  .dropdown{
      margin-top: 10px;
  }
   .logo > img{
      /* width: 34%; */
      width: 100%;
      /* border: 2px solid rgb(46, 200, 217); */
      /* height: 0px; */
      border-radius: 35px;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
      margin: 5px;
  }

  .logo :hover{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.2);
  }
  
  
  /* .cartLogo{
      color: #ddd;
      font-size: 40px;
  } */
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 20px;  
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  /* .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(16, 16, 16);
  } */
  
  /* .navbar .lo:hover{
    background-color: rgb(5, 236, 13);
  } */
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  
  /* #navbar {
    overflow: hidden;
    background-color: #333;
  }*/
  
  /* .navbar > div + div{
      border: 2px solid white;
  
  } */
  
  .search{
  /* border: 2px solid white; */
  /* margin: auto; */
  width: 50%;
    align-items: center;
      padding-top: 15px;
  }
  
  .search > input{
      width: 80%;
      height: 25px;
  }
  
  .search > button{
      /* width: 100%; */
      width: 15%;
      height: 31px;
  }
  
 
  
  .logoDiv{
      /* border: 2px solid rgb(235, 235, 9); */
      width: 12%;
  }
  #cartLogo{
      /* border: 2px solid red; */
      width: 18%;
      margin-left: 20px;
    
  }
  #cartLogo > img{
      width: 100%;
        border-radius: 35px;
        border-radius: 35px;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
      margin: 5px;
  
  }

  #cartLogo :hover{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.2);

  }
  
  
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  } 


  /* body css start below */

  
/* #navbar{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    
}  */

/* #navbar> div{ */
    /* border: 2px solid red; */
    /* width: 30%; */
/* } */

.logoAndDropDown{
  display: flex;
  align-items: center;
}

.logoAndDropDown > div{
  border: 2px solid black;
  width: 15%;
  margin-left: 10px;
  

}

/* .logoAndDropDown > div > img{
  border: 2px solid rgb(239, 243, 14);
  width: 100%;

} */

/* .logoAndDropDown > div + div{
  width: 50%;
} */

/* .logoAndDropDown > div + div > button{
  width: 100%;
} */

/* .dropdownContent{
  display: none;
} */

/* .dropdownContent:hover{
  /* display: inline; */
  /* display: block; */
/* }  */

/* #navbar > .groceryLogo + div{ 
    /* width: 40%; */
 /* }   */

 /* #navbar > .groceryLogo  ~ div > input{
    width: 75%;
     width: 40%;
    height: 35px;
}  */

 /* #navbar > .groceryLogo + div > input + button{ 
  height: 28px;
  font-size: 15px; 
  padding: 10px;
 }  */

/* #cartLogo{
    border: 2px solid blue; 
    font-size: 40px;
    color: black;
}  */

/* #cartLogo:hover{
    -ms-transform: scale(1.5); 
  -webkit-transform: scale(1.5); 
  transform: scale(1.5); 
} */

/* //imp */


/* #navbar {
  overflow: hidden;
  background-color: #677c9f;
} */
 
/* #navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  /* padding: 14px 16px; */
  /* text-decoration: none; */
  /* font-size: 17px; */
/* }  */

/* .sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
} */




#mainParentDiv{
    /* border: 2px solid rgb(22, 209, 197); */
    padding: 10px;
    width: 80%;
    margin: auto;
}

#slideShow > img{
    /* border: 2px solid green; */
    width: 100%;
}

.BeautyAndHygieneMainSection{
    /* border: 2px solid red; */
    margin-bottom: 20px;
}

.BeautyAndHygieneHeading2{
    color: rgb(68, 68, 68);
    font-size: 24px;
    font-weight: 400;
    margin: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    text-align: center;
}

#BeautyandHugieneItemsMainSections{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 20px;
    margin-bottom: 20px;
    /* border: ; */
    /* border: 2px solid red; */
}

#BeautyandHugieneItemsMainSections >div{
    /* border: 2px solid blue; */
    border: 2px solid rgb(202, 205, 201);
}

.BeautyandHugieneItemsMainSections{
    display: flex;
    margin-bottom: 20px;

    /* border: 2px solid rgb(239, 37, 219); */

}

#BeautyandHugieneItemsMainSections > div:hover{
    /* border: 1px solid rgb(193, 191, 191); */
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}

.BeautyandHugieneItemsMainSections > div:hover{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
}


#BeautyandHugieneItemsMainSections > div > img{
    /* border: 2px solid red; */
    width: 100%;
}

#more{
    border: 2px solid rgb(202, 205, 201);
    display: none;
    
}


#more > div:hover{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
}

.BeautyandHugieneItemsMainSections > div > img{
    /* border: 2px solid red; */
    width: 100%;
}

#more > div > img{
    /* border: 2px solid red; */
    width: 100%;
}

#more > div > a > img{
    width: 100%
}
#BeautyandHugieneItemsMainSections > div > a > img{
    width: 100%
}
.BeautyandHugieneItemsMainSections > div > a > img{
    border: 2px solid rgb(202, 205, 201);
    width: 100%
}

.items{
    margin-left: 10px;
}


.wellnessImage > img{
    /* border: 2px solid orange; */
    width: 100%;
}

/* .invisible{
    display: block;
} */

.imageParaContent >h2 ~ p, li{
    color: rgb(68, 68, 68);
    font-size: 15px;
    font-weight: 400;
    margin: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    text-align: justify;

}


@media all and (min-width: 768px) and (max-width: 1024px){
    .invisible{
        display: none;
    }

}

@media all and (max-width: 767px){
    .invisible2{
        display: none;
    }

}


/* Aviraj */

#A_Main_Id {
    width: 80%;
    align-content: center;
    padding-left: 12%;
}

#A_Bottom_Flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#A_Bottom_Flex > div{
    width: 100%;
}
.A_bottom_Table{
    display: flex;
    justify-content: space-between;
}
.A_bottom_Table > h5{
    width: 20%;
}
.A_bottom_Table > p{
    width: 80%;
}
.A_bottom_Table > img{
    width: 100%;
  margin-right: 20%;
}
#A_Bottom_Heading{
    font-size: 20%;
}

  
#slideShowoffer{
  color: rgb(255, 47, 10);
  font-size: 25px;
  /* padding-right: 200px; */
}
  