#bankOffer {
    width: 80%;
    display: flex;
    border: solid red;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px; 
    


    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  }

  #bankOffer > div{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  }



  #bankOffer > div > img{
    width: 90%;
  }

  /* ////////////////////////////////////////////////////  */
#mainBody{
   display: flex;
   
}

   #product {
   border: 1px solid #ccc;
   padding: 10px;
   margin-bottom: 20px;
   background-color: #fff;
   font-family: Arial, sans-serif;
   border: solid blue;
 }
 
 #product img {
   max-width: 100%;
   height: auto;
   margin-bottom: 10px;
   border: solid red;
 }
 
 #product span:first-of-type {
   font-size: 18px;
   font-weight: bold;
 }
 
 #product span:last-of-type {
   font-size: 16px;
   color: #999;
   margin-left: 5px;
 }
 
 #product select {
   margin-top: 10px;
   padding: 5px;
   font-size: 16px;
   color: #333;
   background-color: #f2f2f2;
   border: none;
   border-radius: 5px;
 }
 
 #product p#time {
   font-size: 14px;
   color: #333;
   margin-top: 10px;
 }
 
 #product #input-group {
   display: flex;
   margin-top: 10px;
 }
 
 #product #input-group-addon {
   padding: 5px;
   background-color: #f2f2f2;
   border: none;
   border-radius: 5px 0 0 5px;
   font-size: 16px;
 }
 
 #product #input-group input {
   flex: 1;
   padding: 5px;
   font-size: 16px;
   color: #333;
   background-color: #f2f2f2;
   border: none;
   border-radius: 0 5px 5px 0;
 }
 
 #product #input-group button {
   padding: 5px 10px;
   font-size: 16px;
   color: #fff;
   background-color: #007bff;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   margin-left: 5px;
 }




 
 
 
  
/* ///////////////////////////////////////////////////////////////////// */

  

  h2{
   text-align: center;
  }
 #Most_Popular{
    width: 80%;
    display: flex;
    border: solid red;
    /* justify-content: space-between; */
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
 }

 #Most_Popular > div > img{
    width: 90%;
 }

 #Most_Popular > div{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  }

 #top_offers{
    width: 80%;
    display: flex;
    border: solid red;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
 }

 #top_offers > div > img{
    width: 90%;
 }

 #top_offers > div{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
 }

  
 #Fruits_vegies{
    width: 80%;
    display: flex;
    border: solid red;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
 }

 #Fruits_vegies > div > img{
    width: 90%;
 }

 #Fruits_vegies > div{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
 }


 #Daily_Staples{
    width: 80%;
    display: flex;
    border: solid red;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
 }

 #Daily_Staples > div > img{
    width: 90%;
 }

 #Daily_Staples> div{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
 }


 #BrandStore{
    width: 80%;
    border: solid red;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
 }


 #BrandStore > div > img{
   width: 90%;
 }

 
 #BrandStore> div{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
 }



 #Beauty_Hygiene{
    width: 80%;
    display: flex;
    border: solid red;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
 }

 #Beauty_Hygiene > div > img{
    width: 90%;
  }


  #Beauty_Hygiene> div{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
 }