#totalitemsDiv{
  /* border: 2px solid black; */
  width: 20%;
  margin: auto;
  padding: 10px;
  background-color: #bee2e9;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#totalitemsDiv{
  margin-bottom: 30px;
}

#totalitemsDiv > button{
  font-size: 20px;
  display: block;
  margin: auto;
  background-color: #4ffc3c;
  border: none;
  /* color: white; */
  padding: 6px;
}

#totalitemsDiv > button:hover{
  background-color: #076504;
  color: white;
}

#totalitemsDiv > h1{
  margin: auto;
  /* border: 2px solid yellow; */
  padding-left: 70px;
  margin-bottom: 20px;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container{
  /* border: 2px solid red; */
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
  display: flex;
  /* margin-top: 50px; */
  /* width: 80%; */
  margin: auto;
}

#productDiv{
  /* border: 2px solid rgb(14, 243, 21); */
  /* margin: 10px; */
  width: 16%;
  display: none;
  /* margin-bottom: 20px; */
}

#removeBtn{
  font-size: 20px;
  background-color: #d92121;
  color: white;
  border: none;
  padding: 6px;
}
#editBtn{
  font-size: 20px;
  background-color: #4ffc3c;
  border: none;
  padding: 6px;
}

#removeBtn:hover{
  background-color: #076504;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    /* border: 2px solid black; */
    -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.2);
}

#editBtn:hover{
  background-color: #076504;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    /* border: 2px solid black; */
    -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.2);
}

#product > input{
  display: block;
  margin: 10px;
  font-size: 20px;
}

#addProducts{
  font-size: 20px;
  /* margin-left: 10px; */
  display: block;
  margin: auto;
  background-color: #1cec2a;
  border: none;
  padding: 5px;
}

#addProducts:hover{
  background-color: #087105;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    /* border: 2px solid black; */
    -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.2);
}

#updateProduct >input{
  display: block;
  font-size: 20px;
  margin: 10px;
  /* margin: auto;*/
} 

#updatProductBtn{
  display: block;
  margin:auto;
  font-size: 20PX;
  background-color: #1cec2a;
  border: none;
  padding: 5px;
  /* margin-left: 10px; */
}

#updatProductBtn:hover{
  background-color:  #087105;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    /* border: 2px solid black; */
    -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.2);
}


#productDiv >div:nth-child(1){
  /* border: 2px solid rgb(199, 246, 11); */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin-bottom: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#productDiv >div:nth-child(2){
  /* border: 2px solid rgb(168, 31, 31); */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding-bottom: 20px;
  padding-top: 20px;
}

#data{
  /* border: 2px solid rgb(40, 190, 255); */
  width: 100%;
  /* margin-left: 50px; */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

tr:nth-child(even) {
  background-color: #D6EEEE;
}

table {
  border-collapse: collapse;
  width: 100%;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

th, td {
  text-align: left;
  padding: 8px;
}

td, th{
  font-size: 25px;
}

tr:nth-child(even) {
  background-color: #D6EEEE;
}

#pagination{
  /* border: 2px solid red; */
  /* margin: auto; */
  margin-top: 10px;
  padding-left: 100px;
  
}

#pagination > button{
  /* border: 2px solid red; */
  font-size: 20px;
  /* display: block; */
  /* margin: auto; */
  margin: 5px;
  border-radius: 20px;
  border: none;
  background-color: #0c6a03;
  /* padding: 5px; */
  color: white;
  font-size: 20px;
  
}

#pagination > button:hover{
  background-color: #13ea13;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    /* border: 2px solid black; */
    -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.2);
}